.hero {
    background-image: url('/src/assets/hero-bg.jpg');
    height: calc(100vh - 80px);
}
.hero .container {
    height: 100%;
}
.sec-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding-bottom: 120px;
}
.sec-left .hello {
    color: var(--main-color);
    font-size: 30px;
}
.sec-left .name {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
}
.sec-left .jop-title {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.sec-left .hire-me {
    margin: 15px 0;
}
.sec-right img {}

@media (max-width: 991px) {
    .sec-left .hello {
        font-size: 22px;
    }
    .sec-left .name {
        font-size: 70px;
    }

    .sec-left .jop-title {
        font-size: 22px;
    }
}