.hero {
    background-image: url('/src/assets/hero-bg.jpg');
    height: calc(100vh - 80px);
}
.hero .container {
    height: 100%;
    display: flex;
    align-items: center;
}
.sec-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding-bottom: 120px;
}
.sec-left .hello {
    color: var(--main-color);
    font-size: 30px;
}
.sec-left .name {
    color: #fff;
    font-size: 90px;
    font-weight: bold;
}
.sec-left .jop-title {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.sec-left .hire-me {
    margin: 15px 0;
}
.sec-right {
    text-align: end;
}
.sec-right img {
    width: 60%;
    border-radius: 10%;
}

.sec-right .social-icons {
    display: flex;

}
.sec-right a{ 
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 45px;
  width: 45px;
  background-color: rgb(7, 13, 27);
  font-size: 20px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(63, 69, 81);
  border-image: initial;
  border-radius: 50%;
  margin-right: 20px;
  color: rgb(63, 69, 81);
  transition: 0.4s;
}

@media (max-width: 991px) {
    .sec-left .hello {
        font-size: 22px;
    }
    .sec-left .name {
        font-size: 70px;
    }

    .sec-left .jop-title {
        font-size: 22px;
    }
    .sec-right{
        display: none;
    }
}