.sec-title .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.sec-title .container .title {
  color: var(--main-color);
  font-size: 27px;
  position: relative;
  z-index: 2;
}
.sec-title .container .title::before {
  content: '';
  position: absolute;
  background-color: #3f4551;
  width: 170px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
}
.sec-title .container .title::after {
  content: '';
  position: absolute;
  background-color: #fec544;
  width: 70px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
}
.sec-title .container .layer {
  color: #151b2980;
  font-size: 90px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}
@media (max-width: 1000px) {
  .sec-title .container .layer {
    display: none;
  }
}
