.skills {
  background: var(--bg-color);
  padding: 2rem 0;
}
.skills .container {
  display: flex;
}
.skills .container .left-section {
  flex-basis: 50%;
  margin-right: 20px;
}
.skills .container .left-section h2 {
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.skills .container .left-section p {
  color: var(--text-color);
}
.skills .container .right-section {
  color: #fff;
  flex-basis: 50%;
}
.skills .container .right-section ul {
}
.skills .container .right-section ul li {
  position: relative;
  margin-bottom: 1.5rem;
}
.skills .container .right-section ul li span:first-child {
  font-weight: bold;
}
.skills .container .right-section ul li span:nth-child(2) {
  position: absolute;
  right: 0;
  color: var(--main-color);
}
.skills .container .right-section ul li .progress {
  background-color: var(--main-color);
  display: block;
  height: 2px;
  width: 100%;
}
@media (max-width: 800px) {
  .skills .container {
    flex-direction: column;
  }
  .skills .container .left-section {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
