
:root {
  --main-color: #fec544;
  --text-color: #a9adb8;
  --bg-color: #0a101e;
  --container-width: 1200px;
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.container {
  max-width: var(--container-width);
  margin: auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-p{
  padding: 10px 70px;
}

@media (max-width: 800px) {
    .section-p{
  padding: 10px 10px;
}
}